body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .header {
    padding: 35px;
    border-bottom: black;
    border-bottom-style: double;
    text-align: center;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
  }

  .header h1 {
    font-size: 50px;
    text-decoration: underline;
    color: black;
  }

  .subhead {
    text-decoration: underline;
    font-size: 25px;
    color: rgba(233, 146, 6, 0.662);
}

  body { 
  background-color: lightblue
}

  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  .container { 
    padding: 25px;
  }
  .events {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid rgb(2, 2, 2);
    border-bottom: 1px solid black;
    padding: 1px;
  }
  
  .hour {
    background-color: rgb(219, 230, 173);
    color: #000000;
    border-top: 1px dashed #000000;
    border-left: 1px dashed rgba(0, 0, 0, 0);
    border-radius: 10px;
    vertical-align: middle;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(32, 74, 245);
    color: rgb(249, 248, 248);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .saveBtn:hover {
    background-color: lightblue;
    color: #fa4903;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  .saveTxt{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    text-transform: none;
  }

  .time {
    font-size: 20px;
    color: lightcoral;
    font-weight: bold;
  }
 